# Import Important Python Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

% matplotlib inline

Matplotlib created a temporary config/cache directory at /tmp/matplotlib-9au_yax6 because the default path (/home/gcatangui/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.
UsageError: Line magic function `%` not found.

# Import Datasets

In [2]:
driver_test = pd.read_csv('drivers_test.csv')
driver_test2 = pd.read_csv('drivers_test2.csv')
locations = pd.read_csv('locations.csv')
trips_test = pd.read_csv('trips_test.csv')
trips_test2 = pd.read_csv('trips_test2.csv')

In [43]:
print(trips_test.shape)
print(trips_test2.shape)

(4, 9)
(10000, 9)

In [20]:
#Append Datasets
trips = trips_test.append(trips_test2)
trips_csv = trips.to_csv('trips.csv') # Save data to CSV
display(trips)

/tmp/ipykernel_135/834310822.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trips = trips_test.append(trips_test2)

,trip_id,driver_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_loc_id,dropoff_loc_id,trip_distance,fare_amount
0,1,1,"08:13:00,15-05-2022","08:46:00,15-05-2022",2,1,2,17.600000,412.000000
1,2,2,"14:13:00,31-12-2022","14:46:00,31-12-2022",1,3,4,15.100000,371.000000
2,3,3,"09:13:00,16-08-2022","09:46:00,16-08-2022",3,5,2,8.900000,235.000000
3,4,1,"15:13:00,09-09-2022","15:46:00,09-09-2022",2,6,7,31.200000,716.000000
0,0,116,"20:22:02,01-02-2022","20:41:26,01-02-2022",1,27,17,57.335208,75.834505
...,...,...,...,...,...,...,...,...,...
9995,9995,12,"19:38:54,18-08-2022","19:58:18,18-08-2022",3,43,28,24.905899,55.566187
9996,9996,10,"14:56:10,15-03-2022","15:15:34,15-03-2022",1,13,49,77.739584,88.587240
9997,9997,134,"08:13:38,15-06-2022","08:33:02,15-06-2022",0,14,40,73.393433,85.870896
9998,9998,48,"11:53:35,01-02-2022","12:12:59,01-02-2022",0,31,23,99.555478,102.222174
9999,9999,41,"21:08:46,18-01-2022","21:28:10,18-01-2022",2,32,31,32.304084,60.190052

#### Adding trips in the database

Create a method `add_trips` that accepts a list of trips in the form of dictionaries with the following keys:
  - `driver`: trip driver as a string in `Last name, Given name` format
  - `pickup_datetime`: datetime of pickup as string with format "hh:mm:ss,DD-MM-YYYY"
  - `dropoff_datetime`: datetime of dropoff as string with format "hh:mm:ss,DD-MM-YYYY"
  - `passenger_count`: number of passengers as integer
  - `pickup_loc_name`: zone as a string, (e.g., Pine View, Legazpi Village)
  - `dropoff_loc_name`: zone as a string, (e.g., Pine View, Legazpi Village)
  - `trip_distance`: distance in meters (float)
  - `fare_amount`: amount paid by passenger (float)
  
The method should add each trip to the database. 
It returns a list of the `trip_ids`s of successfully added trips. If a trip is already in the database, skip it and print: `Warning: trip index {i} is already in the database. Skipping...`

If a trip has invalid or incomplete information, skip it and print `Warning: trip index {i} has invalid or incomplete information. Skipping...` instead. The *trip index* is the zero-based index of the trip in the passed list of trips.

In [45]:
class add_trips():
    '''
    Define the classes required
    '''
    def __init__(self, trips):
        self.trips
    
    def __init__(self, lastname, givenname): 
        self.lastname = lastname
        self.givename = givenname
    
    def __init__(self,pickup_datetime):
        '''
        Format required is hh:mm:ss,DD-MM-YYYY
        '''
        self.pickup_datetime = pickup_datetime
    
    def __init__(self, dropoff_datetime):
        '''
        Format required is hh:mm:ss,DD-MM-YYYY
        '''
        self.dropoff_datetime = dropoff_datetime
    
    def __init__(self, dropoff_loc_name):
        self.dropoff_loc_name = dropoff_loc_name
    
    def __init__(self, pickup_loc_name):
        self.pickup_loc_name = pickup_loc_name
    
    def __init__(self, trip_distance):
        self.trip_distance = trip_distance
        
    def __init__(self, fare_amount):
        self.fare_amount = fare_amount
        
    #Add Classes to Database
    def add_to_db():
        
        return
    
    #Validate if trip is already in the database
    def validate_trip(self, trip_id):
        if self.trip_id.isin(remove_trip) == True:
            print('Trip_id is Trips.csv')
        else: 
            raise TypeError("trip index {i} is already in the database. Skipping...")

#### Deleting a trip in the database

Create a method `delete_trip` that accepts the trip_id to delete then removes it from `trips.csv` . It will raise a `SakayDBError` if the `trip_id` is not found

In [36]:
class delete_trip():
    # Instantiate Class Requirements
    def __init__(self, trip_id):
        self.trip_id = trip_id

    # Remove Trip from trips.csv
    def remove_trip(self, trip_id):
        # Load/define trips_csv
        trips_csv = set(trips['trip_id'].to_list())
        # remove from trips_csv
        remove_trip = trips_csv.remove(trip_id)
        return remove_trip.to_csv('trips.csv')

    # Rise error if trip_id is not found
    def validate_trip(self, trip_id):
        if self.trip_id.isin(remove_trip) == True:
            print('Trip_id is Trips.csv')
        else: 
            raise TypeError("SakayDBError")